body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #f2f2f2;
}

.storyEmoticons-storyNav a{
    color: black;
    overflow: hidden;
}
ul.storyEmoticons-storyNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    //-moz-box-shadow: 1px 2px 4px rgba(192,192,192,1);
    //-webkit-box-shadow: 1px 2px 4px rgba(192,192,192,1);
    //box-shadow: 2px 2px 4px rgba(192,192,192,1);
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;
    border: 1px solid #ccc;
    //border-width: thick;
    background-color: white;

}

.storyEmoticons-storyNav li {
    float: left;
}
.storyEmoticons-storyNav li a {
    display: block;
    //padding: 8px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    
}

.storyEmoticons-storyNav li a:hover:not(.active) {
    background-color: #ededed;
}

.active {
    background-color: #4CAF50;
}

.storyEmoticons-storyNav img {
     height: 25px;
  width: 25px;
 
  /*-webkit-transition: all 200ms ease;
     -moz-transition: all 200ms ease;
       -o-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
          transition: all 200ms ease;*/
}

.storyEmoticons-storyNav img:hover {
  width: 25px;
  height: 25px;
}

